@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(179, 179, 179);
  color: black;
  text-align: center;
}

#logButton {
  align-self: right;
  color: #9b9d9e;
}

#logButton img {
  width: 90%;
}

#logButton a:link {
  color: #9b9d9e;
}

#logButton a:hover {
  color: #c6c8c9;
}

#logButton a:visited {
  color: #9b9d9e;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  justify-content: center;
}

.order-card {
  flex-basis: 23%;
  margin: .5em;
}

.order-card ul {
  list-style-type: none;
}

.requiredItem {
  color: red;
}

.order-details-card {
  display: flex;
  flex-direction: column;
}