@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

$box-bg: rgba(78, 78, 78, 0.603);

body {
  color: black;
  text-align: center;
  background-image: url(https://i.imgur.com/wNzHCkE.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#logButton {
  align-self: right;
  color: #9b9d9e;
}

#logButton img {
  width: 90%;
}

#logButton a:link {
  color: #9b9d9e;
}

#logButton a:hover {
  color: #c6c8c9;
}

#logButton a:visited {
  color: #9b9d9e;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  justify-content: center;
}

.order-card {
  display: flex;
  flex-direction: column;
  flex-basis: 23%;
  margin: .5em;
  background-color: transparent;
  background-image: linear-gradient(#e4e4e4, rgb(182, 182, 182));
  color: black;
}

.order-card ul {
  list-style-type: none;
  padding-left: 0;
}

.requiredItem {
  color: red;
}

.order-details-card {
  display: flex;
  flex-direction: column;
}

#landingContainer {
  display: flex;
  justify-content: center;
}

.landingBtnContainer {
  background-color: rgba(78, 78, 78, 0.603);
  width: 100%;
  padding: 1em 0 1em 0;
  border: 1px transparent;
  border-radius: 6px;
  color: white;
  text-shadow: 1px 1px 1px black;
  flex-basis: 30%;
}

.landingBtnContainer button {
  margin: .25em;

}

.loginBtnContainer {
  margin-top: 24%;
  background-color: $box-bg;
  padding: 1em 0 1em 0;
}

#navLogo {
  padding: 0;
  width: 5em;
}

#navLogo img {
  width: 100%;
}

#logoutButton a:link {
  color: #9b9d9e;
}

#logoutButton a:hover {
  color: #c6c8c9;
}

#logoutButton a:visited {
  color: #9b9d9e;
}

#userImg {
  border: 1px transparent;
  border-radius: 200px;
  width: 2em;
  margin-right: .5em;
}

.order-details-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.item-card {
  margin: .25em 0 .25em 0;
  background-color: transparent;
  background-image: linear-gradient(#e4e4e4, rgb(182, 182, 182));
}

.order-total {
  width: 35%;
  align-self: center;
  background-color: rgb(36, 196, 97);
  margin: .5em 0 .5em 0;
  border: 1px transparent;
  border-radius: 3px;
}

#formContainer {
  display: flex;
  justify-content: center;
  margin: 1em 2em 1em 2em;
}

#formContainer form {
  width: 100%;
  background-image: linear-gradient(#e4e4e4, rgb(182, 182, 182));
  border: 1px transparent;
  border-radius: 6px;
  padding: .5em;
  font-weight: 600;
}

#formContainer button {
  margin-top: .5em;
}

hr {
  margin-top: .25em;
  margin-bottom: .25em;
}

#order-buttons {
  display: flex;
  justify-content: space-evenly;
}

#order-buttons a {
  color: black;
  text-decoration: none;
}

#item-buttons i {
  margin: 0 .25em 0 .25em 0;
  width: 5em;
}

#upcomingShowContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  justify-content: center;
}

#showContainer {
  width: 50%;
}

.show-card {
  display: flex;
  flex-direction: column;
  flex-basis: 23%;
  margin: .5em;
  background-color: transparent;
  background-image: linear-gradient(#e4e4e4, rgb(182, 182, 182));
  color: black;
}

#dropdownContainer {
  margin-left: .25em;
}

#orderStatusFilter {
  background-color: #212529;
  color: #9b9d9e;
}

.show-card-inner ul {
  list-style-type: none;
  padding-left: 0;
}

#menuFilterContainer {
  display: flex;
  margin: 0 -2em 0 -2em;
}

#addNewMenuItem {
  flex-basis: 30%;
  margin-left: .5em;
}

.menu-on-sale {
  display: flex;
  justify-content: center;
}

#menuOnSale {
  margin-right: .25em;
}

.on-sale-tag {
  background-color: rgb(5, 179, 5);
  padding: .2em;
  border: 1px transparent;
  border-radius: 3px;
}

@media only screen and (max-width:1100px) {
  #menuFilterContainer { 
    margin: 0;
  }
}

@media only screen and (max-width:800px) {
  #menuFilterContainer {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .order-card {
    flex-grow: 1;
  }

  .dropdown-menu {
    position: relative;
    text-align: center;
    margin-bottom: .5em;
  }

  #showContainer {
    flex-grow: 1;
  }

  .landingBtnContainer {
    width: 100%;
    flex-basis: 70%;
  }
}

@media only screen and (max-width:620px) {
  .order-card {
    flex-basis: 40%;
  }

  .landingBtnContainer {
    flex-basis: 90%;
  }
}

@media only screen and (max-width:420px) {
  .order-card {
    flex-basis: 80%;
  }

  .landingBtnContainer {
    flex-basis: 95%;
  }
}

@import 'revenue.scss';
