#revenueDateSelect {
  background-color: transparent;
  background-image: linear-gradient(#e4e4e4, rgb(182, 182, 182));
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
}

#filteredRevenueDisplay {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
}